
@{
    ViewBag.Title = "RegistroCompleto";
}
<body>
    <div class="col-md-12" style="text-align:center">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <br />
                <p style="font-size:40px; font-family:'Tw Cen MT', Arial, sans-serif">Se ha registrado exitosamente su incidencia</p>
            </div>
            <div class="col-md-4">
            </div>

        </div>

        <div class="row">
            <div class="col-md-12" style="text-align:center">
                <div>
                    <p>
                        <img src="~/Content/Images/Imagen6.png" width="145" height="155"/>
                    </p><br/>
                    <form method="get" action="~/Incidencias/Create">
                        <input id="Create" type="submit" value="Registrar Otra" class="btn btn-default" style="margin-bottom:5%;" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>




